
.containermain{
  background: #f6ab6c;
  display: flex;
  justify-content: center;
  border: 10px solid;
  border-color: white;
  padding: 20px;
}
.colortablero{
  background: #99b898;
  border:10px solid;
  border-color: #99b898 !important;
}

.brdcasilla1{
  border-left: 5px solid;
  border-top: 5px solid;
  border-bottom: 5px solid;
}
.brdcasilla2{
  border-right: 5px solid;
  border-top: 5px solid;
  border-bottom: 5px solid;
}
.brdall{
  border: 5px solid;
  border-left: 1px;
  border-right: 1px;
}
.brdall-botton{
  border-top: 1px;
  bottom:0px;
  position:absolute;
}
.brdall-top{
  border-bottom: 1px;
}
.containerplayer{
  background: #99b898;
  border: 2px solid;
  border-color: white;
}
.textvertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.sizeletterscas{
  font-size: 22px;
}
/*-----------imagenes----*/

.imgbottle{
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  height: 60px;
  display: flex;
  justify-content: center;
}




/*-----------imagenes----*/

.col-left-right{
    max-width: 100px;
    margin: 0px;
    padding: 0px;
}
.board{
    max-width: 1000px;
}
.colcenter{
    max-width: 702px;
    padding: 0px;
    border: none;
}
.cuadrados{
    width: 100px;
    height: 100px;
    border: 1px black solid;
}
.rectangulos{
    height: 78px;
    width: 100px;
    border: 1px black solid;
}
.rectangulos1{
    height: 100px;
    width: 78px;
    border: 1px black solid;
}
.center{
    width: 702px;
    height: 702px;
    border: 1px black solid;
    margin: 0px;
}
